Repository zaki3mymy/shopping-reminder: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, type-check, terraform-fmt, terraform-validate-production

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
        args: [--fix=lf]

-   repo: local
    hooks:
    -   id: lint
        name: Lint Python files
        entry: uv run ruff check
        language: python
        types: [file, python]
        exclude: ^(tests/|scripts/).*$

    -   id: type-check
        name: Type check Python files
        entry: uv run mypy
        language: python
        types: [file, python]
        exclude: ^(tests/|scripts/).*$

    -   id: aws-credential-check
        name: Check for AWS credentials
        entry: git secrets --scan
        language: system
        types: [text]

    -   id: terraform-fmt
        name: Format Terraform files
        entry: terraform fmt -recursive
        language: system
        types: [file]
        files: \.tf$
        args: [-write=true]

    -   id: terraform-validate-production
        name: Validate Terraform production environment
        entry: bash -c "cd terraform/environments/production && terraform validate"
        language: system
        types: [file]
        files: ^terraform/environments/production/.*\.tf$
        pass_filenames: false

    -   id: unit-test
        name: Run unit tests
        entry: uv run pytest --cov src --cov-branch --cov-report term-missing --cov-report xml --cov-report html
        language: python
        types: [file, python]
        stages: [pre-merge-commit]
        pass_filenames: false

default_install_hook_types: [pre-commit, pre-merge-commit]

fix: terraform fmtに-checkフラグを追加
  .pre-commit-config.yaml
Due: none

docs: README.mdの内容を精査してdocs/に分離
  README.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
Due: none

docs: E2Eテスト環境変数の注意書きを追加
  docs/DEVELOPMENT.md
Due: none

docs: テストカバレッジの具体的数値を削除
  docs/DEVELOPMENT.md
Due: none

docs: terraform.tfstateのkey pathを修正
  docs/DEPLOYMENT.md
Due: none

docs: コントリビューションのマージタイミングを明確化
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
Due: none

docs: テスト実行のタイミング表記を分かりやすく変更
  docs/DEVELOPMENT.md
Due: none

ci: CIワークフローにpathフィルターを追加
  .github/workflows/ci.yml
Due: none

lint: tflintによる警告の修正と統合
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  terraform/environments/production/main.tf
  terraform/environments/production/variables.tf
  terraform/environments/production/versions.tf
  terraform/modules/shopping-reminder/main.tf
Due: terraform-fmt, terraform-validate-production

不要な記載を削除
  terraform/environments/production/main.tf
Due: terraform-fmt, terraform-validate-production

fix: CIのterraform-docs検証をGitHub Actionに変更
  .github/workflows/ci.yml
Due: none

fix: terraform-docs CI検証の改善とpre-commit引数修正
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  terraform/README.md
  terraform/environments/production/.terraform-docs.yml
  terraform/environments/production/README.md
  terraform/modules/shopping-reminder/.terraform-docs.yml
  terraform/modules/shopping-reminder/README.md
Due: none

Create LICENSE
  LICENSE
Due: none

feat: DatabaseConfigモデルと設計ドキュメントを追加
  docs/database-design.md
  src/shopping_reminder/models.py
Due: lint, type-check

feat: boto3ベースのDynamoDB操作クライアントを追加
  pyproject.toml
  src/shopping_reminder/dynamodb_client.py
  tests/shopping_reminder/test_dynamodb_client.py
  uv.lock
Due: lint, type-check

feat: ConfigクラスをDynamoDB複数設定対応に拡張
  src/shopping_reminder/config.py
Due: lint, type-check

feat: NotionClientを複数データベース対応に拡張
  src/shopping_reminder/notion_client.py
Due: lint, type-check

fix: pre-commitフックによるコードフォーマット修正
  src/shopping_reminder/lambda_handler.py
  tests/shopping_reminder/test_dynamodb_client.py
  tests/shopping_reminder/test_models.py
Due: lint, type-check

feat: 通知先をNotionコメントからなんでもお知らせくんAPIに変更
  pyproject.toml
  src/shopping_reminder/config.py
  src/shopping_reminder/lambda_handler.py
  src/shopping_reminder/notify_client.py
  src/shopping_reminder/notion_client.py
  terraform/environments/production/main.tf
  terraform/environments/production/variables.tf
  terraform/modules/shopping-reminder/main.tf
  terraform/modules/shopping-reminder/variables.tf
  tests/shopping_reminder/test_config.py
  tests/shopping_reminder/test_lambda_handler.py
  tests/shopping_reminder/test_notify_client.py
  tests/shopping_reminder/test_notion_client.py
Due: lint, type-check, terraform-fmt, terraform-validate-production

fix: terraform-docs READMEとCI変数をnotify APIに対応
  .github/workflows/ci.yml
  terraform/environments/production/README.md
  terraform/modules/shopping-reminder/README.md
Due: none

chore: モジュールの.terraform.lock.hclを追加
  terraform/modules/shopping-reminder/.terraform.lock.hcl
Due: none

feat: 通知先をNotionコメントからなんでもお知らせくんAPIに変更 (#24)
  .github/workflows/ci.yml
  pyproject.toml
  src/shopping_reminder/config.py
  src/shopping_reminder/lambda_handler.py
  src/shopping_reminder/notify_client.py
  src/shopping_reminder/notion_client.py
  terraform/environments/production/README.md
  terraform/environments/production/main.tf
  terraform/environments/production/variables.tf
  terraform/modules/shopping-reminder/.terraform.lock.hcl
  terraform/modules/shopping-reminder/README.md
  terraform/modules/shopping-reminder/main.tf
  terraform/modules/shopping-reminder/variables.tf
  tests/shopping_reminder/test_config.py
  tests/shopping_reminder/test_lambda_handler.py
  tests/shopping_reminder/test_notify_client.py
  tests/shopping_reminder/test_notion_client.py
Due: lint, type-check, terraform-fmt, terraform-validate-production

fix: CD の terraform apply 変数を notify API に対応
  .github/workflows/cd.yml
Due: none

fix: CD の terraform apply 変数を notify API に対応 (#25)
  .github/workflows/cd.yml
Due: none
